body, html {
    height: 100%;
    margin: 0;
}

/*hero section*/

.hero-image {
  background-image: url(../images/bg1.JPG);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0;
}

.hero-image > .hero-text > a {
  text-decoration: none;
  color: white;
}

#hero-name {
  white-space: nowrap;
  font-weight: 100;
}

.menu3 {
  width: 33.33%;
  font-weight: 300;
}

.icon-menu {
  position: fixed;
  z-index: 100;
  right: 3%;
  top: 2%;
  text-decoration: none;
  font-size: 25px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6.0rem;
  font-family: 'Lato', sans-serif;
  color: white;
}

.hero-text > .row > .menu3 > a {
  text-decoration: none;
  color: white;
}

.hero-text > .row > h6 > a {
  color: white;
}

/*#hero-name:hover {color: grey;}*/

.hero-nav:hover{ color: grey;}
.menu-nav:hover{ color: #538cc6;}

.icon-github-circled:hover { color: black;}
.icon-twitter:hover { color: #1dcaff;}
.icon-facebook:hover { color: #3B5998;}
.icon-instagram:hover { color: #8a3ab9;}
.icon-menu:hover { opacity: 0.50;}
.icon-scroll-top:hover { color: #d3d3d3;}

.icon-scroll-top {
  position: fixed;
  z-index: 100;
  right: 3%;
  bottom: 7%;
  display: none;
  text-decoration: none;
  font-size: 40px;
  color: #538cc6;
  opacity: 0.8;
}

/*navigation*/

.fixed {
	position: fixed;
	top: 0;
	z-index: 1;
}

.selected {     /* to add bottom border on reach */
  border-bottom: 4px solid #538cc6;
}

.nav {
  background: white;
  height: 50px;
  box-shadow: 0 0 8px 2px #666;
}

.nav > .container {
  height: 50px;
}

.nav > .container > nav > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav > .container > nav > ul > li {
  display: inline;
  height: 50px;
  margin: 0 auto;
  padding: 12px 0;
  border-bottom: 4px solid transparent; /*space for border*/
}

/*.nav > .container > nav > ul > li:hover {border-bottom: 4px solid #538cc6;}*/

.nav > .container > nav > ul > li > a {
  text-decoration: none;
  color: grey;
}

.nav > .container > nav > ul > li > a > .menu-nav {
  margin-bottom: 0px;
  padding: 13px 0;
  width:23%;
  display: inline-block;
}

/*sections*/

.section-heading {
  text-align: center;
}

.section {
  padding-top: 90px;
  padding-bottom: 70px;
}

/*profile section*/

.topspace {
  margin-top: 50px;
}

.profile > .container > .container > .profiletext > a {
  color: black;
}

.profiletext {
  margin: 2.0rem;
}

/*blog section*/

.blog {
  background-color: #f8f8f8;
}

.most-recent > h5, .other-posts > h5 {
  text-align: center;
  text-decoration: underline;
}

.mainimg {
  position: relative;
  max-width: 100%;
}

.other-posts {
  border-left: 3px;
  border-color: grey;
}

/*projects section*/

.projects {
  background-color: #f4f4f4;
}

.placeholder {
  max-width: 100%;
}

/*footer*/

.footer {
  background-color: white;
}

#footer-note {
  text-align: center;
  color: grey;
}
