body, html {
    height: 100%;
    margin: 0;
}

.hero-image {
  background-image: url(../images/bg1.JPG);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6.0rem;
  font-family: 'Lato', sans-serif;
  color: white;
}

/*#hero-name:hover {color: grey;}*/

#hero-nav-1:hover {color: black;}
#hero-nav-2:hover {color: black;}
#hero-nav-3:hover {color: black;}

.section-heading {
  text-align: center;
  padding-top: 2.0rem;
}

p {
  margin: 2.0rem;
}
